{% extends 'base_layout.html'%}


{% block content %}

<div class="article-detail">
	<div class="article">
		<img src="{{ article.thumb.url}}"/>
		<h2>{{ article.title }}</h2>
		<p>{{ article.body}}</p>
		<p>{{article.date}}</p>	
	</div>
</div>

<p>Write a comment</p>

<br>
<br>

<a class="btn btn-default" href="{% url 'articles:comment' pk=article.pk %}">Add comment</a>


{% for comment in comments %}
    <div class="comment">
        <div class="date">{{ comment.created_date }}</div>
        <strong>{{ comment.author }}</strong>
        <p>{{ comment.text|linebreaks }}</p>
    </div>
{% empty %}
    <p>No comments here yet :(</p>
{% endfor %}


<hr>


{% endblock %}